<?xml version="1.0"?>
<launch>
    <arg name="rviz_config" default="$(find visualizator)/rviz/visualizator_lidar.rviz"/>
    
    <node pkg="visualizator" type="visualizator" name="lidarVisualizator" output="screen"/>
    <node pkg="rviz" type="rviz" name="visualizator_rviz"  respawn="false"
        args="-d $(arg rviz_config)" output="screen">
    </node>
    
</launch>