<?xml version="1.0"?>
<launch>

    <!-- Uncomment if running on rosbag data -->
    <!--<param name="use_sim_time" value="true"/>-->

    <node pkg="visualizator" type="visualizator" name="visualizator" output="screen"/>
    <node pkg="rviz" type="rviz" name="visualizator_rviz"  respawn="false"
        args="-d $(find visualizator)/rviz/visualizator.rviz" output="screen">
    </node>
    
</launch>
